header {
    background-color: #244751;
    color: #e8fdff;
    font-family: 'Fruktur', cursive;
}
body {
    background-color: whitesmoke;
    font-family: 'Roboto Slab', serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    main {
        width: 60%;
    }
}

/* Media Queries */

@media screen and (max-width: 768px) {

    header {
        display: flex;
        align-items: center;
        padding: 0 1em;
    }
    /*header h1 {
        font-size: 1.5em;
    }*/
    header .login-info {
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }
    header .login-info a {
        padding: 8px 0;clearn
    }
}

@media (prefers-color-scheme: dark) {
    main {
        background-color: #0f0f0f;
          }
    
    .button {
        background-color: #0f0f0f;
    }

    input[type=text], input[type=password], input[type=email] {
        background-color: #0f0f0f;
    }
    body {
        background-color: black;

    }
}